# Mac

.DS_Store
.DS_Store?
.DS_Store
.Spotlight-V100
.Trashes

# Windows

Thumbs.db
Desktop.ini

# Emacs

*~
\#*\#
.\#*

# zsh

/zsh/.zsh_history
/zsh/custom/.personal_aliases
/zsh/.zpersonal*
.zcompdump*

# wrappers

/wrappers/*
!/wrappers/wrapper

__pycache__/
