# Mac

.DS_Store
.DS_Store?
.DS_Store
.Spotlight-V100
.Trashes

# Windows

Thumbs.db
Desktop.ini

# Emacs

*~
\#*\#
.\#*

# zsh

/zsh/.zsh_history
/zsh/custom/.personal_aliases
.zcompdump*

# wrappers

/wrappers/*
!/wrappers/wrapper

# atom

/atom/atom/blob-store
/atom/atom/compile-cache
/atom/atom/recovery
/atom/atom/storage
/atom/atom/.apm
/atom/.installed
/atom/atom/packages
/atom/atom/.node-gyp
/atom/atom/kite-config.json
