Flask
HTMLParser
PyExecJS
PyYAML
aiohttp
asyncio
bs4
colorama
discogs_client
discord.py
giturlparse.py
google-api-python-client
lxml
matplotlib
mysqlclient
numpy
oauth2client
prettytable
prompt_toolkit
pyperclip
requests
rsa
scipy
selenium
setuptools
speedtest-cli
termcolor
xlrd
ndg-httpsclient
bpython
