aiohttp
asyncio
bs4
colorama
discogs-client
discord.py
Flask
google-api-python-client
prettytable
oauth2client
discogs_client
lxml
matplotlib
mysqlclient
numpy
prompt_toolkit
PyExecJS
pyperclip
PyYAML
requests
scipy
selenium
setuptools
speedtest-cli
termcolor
xlrd
